.mat-radio-button {
  margin: 0 12px;
}

.add-todo-fab {
  position: fixed;
  bottom: 15px;
  right: 30px;
}

.add-todo-fab {
  position: fixed;
  bottom: 15px;
  right: 30px;
}

.todo-list-panel {
min-height: 75px;
max-height: 150px;
margin-top: 10px;
}

.todo-list-title {
padding-top: 20px;
}

.todo-list-body {
 padding-top: 20px;
}

.todo-list-panel-header {
  height: 100px
}
